<br>
<br>
<div class="position-ref">
    <div class="content container">
        <div class="row">

            <div class="col-lg">
                <div class="row padding-top-70">
                    <div class="col-sm-12">
                        <h1 class="font-text-bold header-main">Disclaimer</h1>
                    </div>
                </div>
                <div class="row padding-15"><hr></div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="disclaimer-expand-btn" data-bs-toggle="collapse" data-bs-target="#collapse-faq-1" aria-expanded="false" aria-controls="collapse-faq-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#fff" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                            </svg>
                        </button>
                    </div>
                    <br>
                    <br>
                    <div class="collapse padding-15" id="collapse-faq-1">
                        <div class="card card-body faq-answer">
                            The content shared on this website is for informational purposes only and, thus, should not be considered as financial advice.
                            <br>
                            <br>
                            Trading crypto/digital assets is highly risky and highly volatile, and you should never invest more than you can afford to lose. Always seek professional advice before making any investment.
                            <br>
                            <br>
                            The website visitor alone assume the sole responsibility of evaluating the merits and risks associated with the use of any information or other content on the website before making any decisions based on such information or other content. The website visitor indemnifies the website creators and all members of project creation and administration, from any responsibility regarding their financial decisions.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-ref bottom-gradient-image">
    <img src="/storage/static/images/Safegalaxy-background-pink-glow.png" height="400px" width="100%" class="center-items">
</div>
<div class="position-ref">
    <br>
    <br>
    <div class="content footer-container">
        <div class="row">
            <div class="col-sm-12">
                <img src="/storage/static/images/SafeGalaxy-Logo-white.png" width="350px" height="50px" class="center-items footer-logo">
            </div>
        </div>
        <br>
        <br>
        <!-- mobile foot nav -->
        <div class="row my-3 footer-mobile">
            <!-- Row 1 -->
            <div class="col-12 footer-header-mobile">Developers</div>
            <div class="col-4 "><a href="/whitepaper">Whitepaper</a></div>
            <div class="col-4"><a href="/how-to-buy">How to buy</a></div>
            <div class="col-4"><a target="_blank" href="https://drive.google.com/file/d/1tgtvtvQHxaDjoqSVO7N7lf8K9TK2E-_A/view?usp=sharing">Branding</a></div>
        </div>
        <div class="row my-3 footer-mobile">
            <!-- Row 2 -->
            <div class="col-12 footer-header-mobile">About</div>
            <div class="col-6"><a href="/team">Meet the team</a></div>
            <div class="col-6"><a href="/jobs">Jobs</a></div>
        </div>
        <div class="row my-3 footer-mobile">
            <!-- Row 3 -->
            <div class="col-12 footer-header-mobile">Community</div>
            <div class="col-6"><a target="_blank" href="https://discord.com/invite/dq7m6R7UAz">Discord</a></div>
            <div class="col-6"><a target="_blank" href="https://www.instagram.com/safegalaxytoken/?igshid=jr936k6emyet">Instagram</a></div>
            <div class="col-6"><a target="_blank" href="https://drive.google.com/file/d/1tgtvtvQHxaDjoqSVO7N7lf8K9TK2E-_A/view?usp=sharing">Branding</a></div>
            <div class="col-6"><a target="_blank" href="https://t.me/safegalaxychat">Telegram</a></div>
        </div>
        <!-- non mobile foot nav -->
        <div class="row row-cols-3 footer">
                <!-- Row 1 -->
                <div class="col-sm-3 mx-3 my-1 footer-header ">
                    Developers
                </div>
                <div class="col-sm-3 mx-4 my-1 footer-header ">
                    About
                </div>
                <div class="col-sm-3 mx-4 my-1 footer-header ">
                    Community
                </div>
                <!-- Row 2 -->
                <div class="col-sm-3 mx-3">
                    <a href="/whitepaper">Whitepaper</a>
                </div>
                <div class="col-sm-3 mx-4">
                    <a href="/team">Meet the team</a>
                </div>
                <div class="col-sm-3 mx-4">
                    <a target="_blank" href="https://discord.com/invite/dq7m6R7UAz">Discord</a>
                </div>
                <!-- Row 3 -->
                <div class="col-sm-3 mx-3">
                    <a href="/how-to-buy">How to buy</a>
                </div>
                <div class="col-sm-3 mx-4">
                    <a href="/jobs">Jobs</a>
                </div>
                <div class="col-sm-3 mx-4">
                    <a target="_blank" href="https://www.instagram.com/safegalaxytoken/?igshid=jr936k6emyet">Instagram</a>
                </div>
                <!-- Row 4 -->
                <div class="col-sm-3 mx-3">
                    <a target="_blank" href="https://drive.google.com/file/d/1tgtvtvQHxaDjoqSVO7N7lf8K9TK2E-_A/view?usp=sharing">Branding</a>
                </div>
                <div class="col-sm-3 mx-4">
                </div>
                <div class="col-sm-3 mx-4">
                    <a target="_blank" href="https://twitter.com/SafeGalaxyToken">Twitter</a>
                </div>
                <!-- Row 5 -->
                <div class="col-sm-3 mx-3">
                    <a href=""></a>
                </div>
                <div class="col-sm-3 mx-4">
                </div>
                <div class="col-sm-3 mx-4">
                    <a target="_blank" href="https://t.me/safegalaxychat">Telegram</a>
                </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg">
                <img src="/storage/static/images/Discord.png" width="50px" height="50px" class="social-bottom" usemap="#discord_map">
                <map name="discord_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Discord" target="_blank" href="https://discord.com/invite/dq7m6R7UAz">
                </map>

                <img src="/storage/static/images/Telegram.png" width="50px" height="50px" class="social-bottom" usemap="#telegram_map">
                <map name="telegram_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Telegram" target="_blank" href="https://t.me/safegalaxychat">
                </map>

                <img src="/storage/static/images/Twitter.png" width="50px" height="50px" class="social-bottom" usemap="#twitter_map">
                <map name="twitter_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Twitter" target="_blank" href="https://twitter.com/SafeGalaxyToken">
                </map>

                <img src="/storage/static/images/FaceBook.png" width="50px" height="50px" class="social-bottom" usemap="#facebook_map">
                <map name="facebook_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Facebook" target="_blank" href="https://facebook.com/SafeGalaxyToken">
                </map>

                <img src="/storage/static/images/Instagram.png" width="50px" height="50px" class="social-bottom" usemap="#instagram_map">
                <map name="instagram_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Instagram" target="_blank" href="https://www.instagram.com/safegalaxytoken/?igshid=jr936k6emyet">
                </map>

                <img src="/storage/static/images/Reddit.png" width="50px" height="50px" class="social-bottom" usemap="#reddit_map">
                <map name="reddit_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Reddit" target="_blank" href="https://www.reddit.com/r/SafeGalaxy">
                </map>

                <img src="/storage/static/images/Tiktok.png" width="50px" height="50px" class="social-bottom" usemap="#tiktok_map">
                <map name="tiktok_map">
                    <area shape="circle" coords="25,25,25" alt="SafeGalaxy Tiktok" target="_blank" href="https://vm.tiktok.com/ZSJ6ghm4k/">
                </map>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg">
                &#169; {{ year }} SafeGalaxy & &#169; {{ year }} Cryptonite Technologies Ltd. &nbsp; All Rights Reserved.
            </div>
        </div>
    </div>
</div>
