
{% extends 'base.html' %}


{% block content %}


    <div class="position-ref  top-background">
        {% include "/components/navbar.html" %}
        <div class="content">
            <div class="col-lg">
                <div class="row padding-top-70">
                    <div class="col-sm-12">
                        <h1 class="font-text-bold header-main">Intergalactic Static<br>Liquidity Protocol</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="font-text header-main-sm">Join thousands of other investors to go to infinity &#38; beyond</h2>
                    </div>
                </div>
                <br>
                <br>
                <div class="container-sm">
                    <div class="row-fluid center-items">
                            <button class="how-to-buy font-text-bold main-page-buttons m-2"><a href="/how-to-buy">How to buy</a></button>
                            <button class="how-to-buy font-text-bold main-page-buttons m-2" style="background-color: Transparent; border-color: #707070;"><a href="/whitepaper">Whitepaper</a></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-gradient-main"></div>
    </div>
    <div class="position-ref">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 my-5">
                    <button class="how-to-buy font-text-bold main-page-buttons m-2">
                        <a target="_blank" href="https://dex.guru/token/0x6b51231c43b1604815313801db5e9e614914d6e4-bsc">Live Chart</a>
                    </button>
                </div>
                <span>{{cached}}</span>
                <div class="col-sm-3 my-3">
                    <h1 class="font-text-bold sub-header-main stats-font">${{ stats.current_price }} USD</h1>
                    <h2 class="font-text sub-header-main-sm">Current Price</h2>
                </div>
                <div class="col-sm-3 my-3">
                    <h1 class="font-text-bold sub-header-main stats-font {{ 'stats-green' if stats.price_24hr_change == 'up' else 'stats-red' }}">{{ stats.price_24hr_change }}%</h1>
                    <h2 class="font-text sub-header-main-sm">Price 24Hr Change</h2>
                </div>
                <div class="col-sm-3 my-3">
                    <h1 class="font-text-bold sub-header-main stats-font">${{ stats.volume_24hr }} USD</h1>
                    <h2 class="font-text sub-header-main-sm">Volume 24Hr</h2>
                </div>
                <div class="col-sm-3 my-3">
                    <h1 class="font-text-bold sub-header-main stats-font {{ 'stats-green' if stats.volume_24hr_direction == 'up' else 'stats-red' }}">{{ stats.volume_24hr_change }}%</h1>
                    <h2 class="font-text sub-header-main-sm">Volume 24Hr Change</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="position-ref">
        <div class="content">
            <div class="row">
                <div class="col-lg">
                    Stats last updated {{ stats.timestamp_utc }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="position-ref">

        <div class="content">
            <div class="row">
                <div class="col-sm-3 my-3"><img src="/storage/static/images/Heart-emoji.png" width="75px" height="75px" class="center-items">
                    <h1 class="font-text-bold sub-header-main stats-font">{{ stats.holders }}+</h1>
                    <h2 class="font-text sub-header-main-sm">Holders</h2>
                </div>
                <div class="col-sm-3 my-3"><img src="/storage/static/images/Money-bag-emoji.png" width="75px" height="75px" class="center-items">
                    <h1 class="font-text-bold sub-header-main stats-font">${{ stats.liquidity_generated }} USD</h1>
                    <h2 class="font-text sub-header-main-sm">Liquidity Generated</h2>
                </div>
                <div class="col-sm-3 my-3"><img src="/storage/static/images/Cap-emoji.png" width="75px" height="75px" class="center-items">
                    <h1 class="font-text-bold sub-header-main stats-font">${{ stats.market_cap }} USD</h1>
                    <h2 class="font-text sub-header-main-sm">Market Cap</h2>
                </div>
                <div class="col-sm-3 my-3"><img src="/storage/static/images/Fire-emoji.png" width="75px" height="75px" class="center-items">
                    <h1 class="font-text-bold sub-header-main stats-font">{{ stats.tokens_burned }}</h1>
                    <h2 class="font-text sub-header-main-sm">Tokens Burned</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="position-ref">

        <div class="content container-sm">
            <div class="row">
                <div class="col-sm-4"><img src="/storage/static/images/Planet-3.png" width="275px" height="175px" class="center-items">
                    <h1 class="font-text-bold sub-header-main-blocks">Comm-UNITY Focus</h1>
                    <br>
                    <p class="mx-2 font-text sub-header-main-blocks-sm">Making money is great, making money together is better. We choose to share our success with the world in an effort to better the lives of our community, their families and their bank accounts.</p>
                </div>
                <div class="col-sm-4"><img src="/storage/static/images/Planet-1.png" width="275px" height="175px" class="center-items">
                    <h1 class="font-text-bold sub-header-main-blocks">Growth Mindset</h1>
                    <br>
                    <p class="mx-2 font-text sub-header-main-blocks-sm">We are young ambitious developers looking to make an impact. Our team is comprised of members who look beyond the stars and into the furthest reaches of what many would deem impossible.</p>
                </div>
                <div class="col-sm-4"><img src="/storage/static/images/Planet-2.png" width="275px" height="175px" class="center-items">
                    <h1 class="font-text-bold sub-header-main-blocks">Transparency</h1>
                    <br>
                    <p class="mx-2 font-text sub-header-main-blocks-sm">We take pride in being open about who we are and where our values lie. We aren’t afraid to give our opinions in AMAs or to answer any and all questions. We are transparent with as much as we can while still remaining competitive.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="position-ref bottom-background" id="road-map">
        <div class="top-gradient-main"></div>

        <div class="content">
            <div class="container-fluid">
                <picture>
                    <source media="(max-width: 960px)" srcset="/storage/static/images/SafeGalaxy-roadmap-mobile.png">
                    <img src="/storage/static/images/SafeGalaxy-roadmap-desktop.png" class="center-items" width="90%">
                </picture>
            </div>
        </div>
        <div class="bottom-gradient-main"></div>
    </div>
    <div class="position-ref">
        <div class="content container">
            <div class="row">

                <div class="col-lg">
                    <div class="row padding-25">
                        <div class="col-sm-12">
                            <h2 class="font-text sub-header-main-sm">Contract Address: <span id="contract_address" class="font-text-bold contract-address">0x6b51231c43B1604815313801dB5E9E614914d6e4</span>&nbsp;&nbsp;
                                <a class="clipboard_copy clipboard-copy-link" title="Copy Address" >{% include "/svg/copy-icon.svg" %}</a></h2>
                        </div>
                    </div>
                </div>

                <span class="copied_message" style="color: #FF3BFF; display: none; justify-content: center;">Copied!</span>
            </div>
        </div>
    </div>
    <div class="position-ref">
        <div class="content container">
            <div class="row">

                <div class="col-lg">
                    <div class="row padding-top-70">
                        <div class="col-sm-12">
                            <h1 class="font-text-bold header-main">FAQ</h1>
                        </div>
                    </div>
                    <div class="row padding-15"><hr></div>
                    <div class="row">
                        <div class="col-7">
                            <h1 class="font-text-faq sub-header-main-blocks">What is SafeGalaxy?</h1>
                        </div>
                        <div class="col-5">
                            <button type="button" class="faq-expand-btn" data-bs-toggle="collapse" data-bs-target="#collapse-faq-1" aria-expanded="false" aria-controls="collapse-faq-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                </svg>
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class="collapse padding-15" id="collapse-faq-1">
                            <div class="card card-body faq-answer">
                                SafeGalaxy is a deflationary, static yield farming, automatic liquidity generating token on the Binance Smart Chain.

                                This means that the supply of SafeGalaxy will shrink over time, you can farm more tokens simply by holding SafeGalaxy in your wallet, and there will always be a liquid market for SafeGalaxy.
                            </div>
                        </div>
                    </div>
                    <div class="row padding-15"><hr></div>
                    <div class="row">
                        <div class="col-7">
                            <h1 class="font-text-faq sub-header-main-blocks">How does SafeGalaxy work?</h1>
                        </div>
                        <div class="col-5">
                            <button type="button" class="faq-expand-btn" data-bs-toggle="collapse" data-bs-target="#collapse-faq-2" aria-expanded="false" aria-controls="collapse-faq-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class="collapse padding-15" id="collapse-faq-2">
                            <div class="card card-body faq-answer">
                                SafeGalaxy works by taking a 10% fee on every transaction. That fee is broken up into 2 parts.

                                Reflection - 50% of the fee (5% of the transaction) is distributed to every wallet that holds SafeGalaxy on a percentage basis. The more SafeGalaxy you hold the more you will receive!

                                LP Generation - 25% of the fee (2.5% of the transaction) collected in SafeGalaxy is sold into BNB. That BNB is married up with the remaining 25% of SafeGalaxy and deposited back into the PancakeSwap liquidity pool.

                                These two functions work together to reward holders and punish whales.

                                Wait!

                                Won’t the sell order from the LP generation create downward pressure on the price?

                                Mathematically yes it does, realistically however that pressure is minimal. It takes a large amount of volume to push the price in one direction or another. If you consider the fact that the sell order being placed is only 2.5% of the overall transaction, quickly will you understand that the small sell order is negligible relative to the overall volume. Furthermore the LP generation function acts as a fantastic risk mitigation tool as it helps to keep the market liquid, the liquidity pool balanced, and therefore the price stable.

                            </div>
                        </div>
                    </div>
                    <div class="row padding-15"><hr></div>
                    <div class="row">
                        <div class="col-7">
                            <h1 class="font-text-faq sub-header-main-blocks">How can I buy SafeGalaxy?</h1>
                        </div>
                        <div class="col-5">
                            <button type="button" class="faq-expand-btn" data-bs-toggle="collapse" data-bs-target="#collapse-faq-3" aria-expanded="false" aria-controls="collapse-faq-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class="collapse padding-15" id="collapse-faq-3">
                            <div class="card card-body faq-answer">
                                <button class="how-to-buy center-items font-text-bold main-page-buttons"><a href="/how-to-buy">How to buy</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-15"><hr></div>
                    <div class="row">
                        <div class="col-7">
                            <h1 class="font-text-faq sub-header-main-blocks">Why SafeGalaxy over other safetokens?</h1>
                        </div>
                        <div class="col-5">
                            <button type="button" class="faq-expand-btn" data-bs-toggle="collapse" data-bs-target="#collapse-faq-4" aria-expanded="false" aria-controls="collapse-faq-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class="collapse padding-15" id="collapse-faq-4">
                            <div class="card card-body faq-answer">
                                SafeGalaxy has an awesome and committed dev team that is focused on transparency and community. Feel free to connect with any of them, they are happy to chat about the project while navigating the cosmos. SafeGalaxy is the first step for these devs in their intergalactic defi journey!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "/components/footer.html" %}
    <script src="/storage/static/js/home.js?version={{cache_buster}}"></script>
{% endblock %}
