
{% extends 'base.html' %}


{% block content %}


    <div class="position-ref  top-background" style="height: 100vh;">
        {% include "/components/navbar.html" %}
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="text-align: center; display: block; margin-left: auto; margin-right: auto;">
            <h1 class="font-text-bold header-main">How to buy SafeGalaxy</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Download MetaMask or TrustWallet</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Set up your wallet (TrustWallet is already set up)</h1>
            <h1 class="font-text sub-header-main-sm">Go to https://coinguides.org/binance-smart-chain-metamask/ for help</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Go to Pancakeswap</h1>
            <h1 class="font-text sub-header-main-sm">Go to https://exchange.pancakeswap.finance/#/swap</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Click on <img src="/storage/static/images/Connect-button-pancake.png" width="250px" height="75px" class="" style="margin: 0px;"></h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Copy the SafeGalaxy Token address:</h1>
            <div class="col-8 col-sm">
                <h2 class="font-text sub-header-main-sm">Contract Address: <span id="contract_address" class="font-text-bold social-navbar-main">0x6b51231c43B1604815313801dB5E9E614914d6e4</span>&nbsp;&nbsp;
                    <a id="clipboard_copy" title="Copy Address" >{% include "/svg/copy-icon.svg" %}</a>
                <span class="copied_message" style="color: #FF3BFF; display: none;">Copied!</span></h2>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Click the settings <img src="/storage/static/images/Pancake-exchange-setting.png" width="50px" height="50px" class="" style="margin: 0px;"> button on the top right of the Swap interface and set slippage to 11%</h1>
        </div>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <img src="/storage/static/images/Pancake-exchange.png" width="350px" height="350px" class="" style="max-width: 400px; margin: 0px;">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="display: block; margin-left: 15%; margin-right: auto;">
            <h1 class="font-text-bold sub-header-main-blocks">Enter the amount and hit swap</h1>
            <h1 class="font-text sub-header-main-sm">Remember to have enough BNB for gas fees!</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <script src="/storage/static/js/how_to_buy.js?version={{cache_buster}}"></script>
{% endblock %}
