
{% extends 'base.html' %}


{% block content %}

<div class="position-ref  background-sub-pages">
    {% include "/components/navbar.html" %}
    <div class="content container-sm">
        <div class="col-lg">
            <div class="row padding-top-70">
                <div class="col-sm-12">
                    <h1 class="font-text-bold header-main" style="font-size: 36px;">Your next job in the<br>great great SafeGalaxy</h1>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row team-gutter-x row-cols-md-12">
            {% for job in job_data %}
            <div class="col">
                <div class="job-img" style="--url: url('{{ job.img_url }}')">
                    <h1 class="job-title">{{ job.job_title }}</h1>
                    <p class="job-text">{{ job.job_desc }}</p>
                    <button class="job-btn font-text-bold">
                        <a target="_blank" href="{{ job.google_form_url }}">Apply for this Job</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- <div class="bottom-gradient-main"></div> -->
{% include "/components/footer.html" %}
{% endblock %}
