
{% extends 'base.html' %}


{% block content %}


<div class="position-ref  background-sub-pages">
        {% include "/components/navbar.html" %}
        <div class="content container-sm">
            <div class="col-lg">
                <div class="row padding-top-70">
                    <div class="col-sm-12">
                        <h1 class="font-text-bold header-main" style="font-size: 54px;">Whitepaper</h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="content container-sm">
            <div class="row">
                    <div class="col-sm-4">
                        <h2 class="whitepaper-header" style="text-align: center;">Overview</h2>
                    </div>
                    <div class="col-sm-5">
                        <p class="align-left whitepaper-text whitepaper-overview">
                            SafeGalaxy works by taking a 10% fee on every transaction. That fee is broken up into 2 parts.

                            Reflection - 50% of the fee (5% of the transaction) is distributed to every wallet that holds SafeGalaxy on a percentage basis. The more SafeGalaxy you hold the more you will receive!

                            LP Generation - 25% of the fee (2.5% of the transaction) collected in SafeGalaxy is sold into BNB. That BNB is married up with the remaining 25% of SafeGalaxy and deposited back into the PancakeSwap liquidity pool.

                            These two functions work together to reward holders and punish whales.

                            Wait!

                            Won’t the sell order from the LP generation create downward pressure on the price?

                            Mathematically yes it does, realistically however that pressure is minimal. It takes a large amount of volume to push the price in one direction or another. If you consider the fact that the sell order being placed is only 2.5% of the overall transaction, quickly will you understand that the small sell order is negligible relative to the overall volume. Furthermore the LP generation function acts as a fantastic risk mitigation tool as it helps to keep the market liquid, the liquidity pool balanced, and therefore the price stable.
                        </p>
                    </div>
                    <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row">
                    <div class="col-sm-4">
                        <h2 class="whitepaper-header" style="text-align: center;">Tokenomics</h2>
                    </div>
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-3"></div>
            </div>
            <div class="row row-cols-2 whitepaper-tokenomics">
                    <div class="col align-right whitepaper-header">
                        Symbol
                    </div>
                    <div class="col align-left whitepaper-text">
                        SAFEGALAXY
                    </div>
                    <div class="col align-right whitepaper-header">
                        Total Supply
                    </div>
                    <div class="col align-left whitepaper-text">
                        1,000,000,000,000,000
                    </div>
                    <div class="col align-right whitepaper-header">
                        Supernova Burn
                    </div>
                    <div class="col align-left whitepaper-text">
                        250,000,000,000,000
                    </div>
                    <div class="col align-right whitepaper-header">
                        Pancake SWAP LP
                    </div>
                    <div class="col align-left whitepaper-text">
                        250,000,000,000,000
                    </div>
                    <div class="col align-right whitepaper-header">
                        Presale Allocation
                    </div>
                    <div class="col align-left whitepaper-text">
                        400,000,000,000,000
                    </div>
                    <div class="col align-right whitepaper-header">
                        Reserve
                    </div>
                    <div class="col align-left whitepaper-text">
                        100,000,000,000,000
                    </div>
            </div>
        </div>
        <br>
        <br>
        <div class="content">
            <div class="container-fluid">
                <picture>
                    <source media="(max-width: 960px)" srcset="/storage/static/images/SafeGalaxy-roadmap-mobile.png">
                    <img src="/storage/static/images/SafeGalaxy-roadmap-desktop.png" class="center-items" width="90%">
                </picture>
            </div>
        </div>
    </div>
    {% include "/components/footer.html" %}
{% endblock %}
